{% extends "layouts/base.twig" %}

{% block content %}

<div class="">
  <div class="page-content">

    {% set swiper = acf['home-swiper'] %}

    <div class="swiper swiper-container" id="home-page-swiper">
      <div class="swiper-wrapper">
      {% for item in swiper %}
        {% if item.image %}
          <div class="swiper-slide">
            <div class="slide-info">
              <h1 class="slide-title">{{item.title}}</h1>
              {% include 'partials/basic-button.twig' with {text: 'Sprawdź', link: item.link} %}
            </div>
            <img class="main-image" src="{{ item.image.url }}" alt=""/>
            <img class="arrow" src="https://prowess.qodeinteractive.com/wp-content/uploads/2018/02/h1-slider-img-1.png" alt="">
          </div>
        {% endif %}
      {% endfor %}
      </div>
    </div>

    {% include 'partials/bmi-calculator.twig' %}

    {% include 'partials/cooperation-steps.twig' %}

    {{ post.content }}
  </div>
</div>
{% endblock %}
