{% extends "layouts/base.twig" %}

{% block content %}
<div class="container single-page">
  <div class="page-content">
    {% for post in posts %}
        <div>{{post.title}}</div>
    {% endfor %}
  </div>
</div>
{% endblock %}
