@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'components/index';
@import 'tailwindcss/utilities';
@import '../../../node_modules/swiper/swiper';
@import '../../../node_modules/swiper/modules/navigation';

/**
 * Importing by selector filtering example
 * https://github.com/maoberlehner/node-sass-magic-importer/tree/master/packages/node-sass-magic-importer#selector-filtering
 @import '{ .util-color-red, .util-color-blue } from utils/_example-1.scss';
 @import '{ .util-with-weird-name as .util--normalized } from utils/_example-2.scss';
 */

/**
 * Importing by glob example
 * https://github.com/maoberlehner/node-sass-magic-importer/tree/master/packages/node-sass-magic-importer#globbing
 */

* {
    font-family: Teko, sans-serif;
    
    // border: 1px solid red;
    // box-sizing: border-box;
}

html {
    margin: 0!important;
}

.show-mobile {
    display: none;
}

@media (width <= 1200px) {
    .show-mobile {
        display: block;
    }
}
