<section class="cooperation-steps">
    <ol class="cooperation-steps__list">
        <li class="cooperation-steps__list-item">
            {# {% include 'partials/circle.twig' %} #}
            <div class="cooperation-steps__number-wrapper">
                <span class="cooperation-steps__number">01</span>
                <h2 class="cooperation-steps__step-header">Kontakt</h2>
            </div>
            <p class="cooperation-steps__item-desc"><span><strong>Wysyłasz</strong> wiadomość mailem, formularzem lub dzwonisz i dajesz znać że chcesz zacząć lepsze życie</span></p>
        </li>
        <li class="cooperation-steps__list-item cooperation-steps__list-item--mirror">
            {# {% include 'partials/circle.twig' %} #}
            <p class="cooperation-steps__item-desc"><span>Spotykamy się tak jak to <strong>tobie pasuje</strong>, online lub na miejscu żebyśmy stworzyli plan działania</span></p>
            <div class="cooperation-steps__number-wrapper">
                <span class="cooperation-steps__number">02</span>
                <h2 class="cooperation-steps__step-header">Konsultacja</h2>
            </div>
        </li>
        <li class="cooperation-steps__list-item">
            {# {% include 'partials/circle.twig' %} #}
            <div class="cooperation-steps__number-wrapper">
                <span class="cooperation-steps__number">03</span>
                <h2 class="cooperation-steps__step-header">Działamy</h2>
            </div>
            <p class="cooperation-steps__item-desc"><span>Zamieniamy słowa w <strong>działanie</strong>, i marzenia w rzeczywistość</span></p>
        </li>
    </ol>
</section>
