<div class="search-box__backdrop no-visibility" data-search-box-backdrop-target></div>
<div class="search-box no-visibility" data-search-box-target>
    <button class="close-button" data-search-box-trigger>{% include 'icons/cross.twig' %}</button>
    <form role="search" method="get" id="searchform" class="search-box__form" action="/">
        <input name="s" id="s" type="text" placeholder="Szukaj" class="search-box__input">
        <button class="search-box__button">{% include 'icons/search.twig' %}</button>
    </form>
</div>
