<section class="two-columns-images">
    <div class="two-columns-images__col">
        <h2 class="two-columns-images__sub-title">Zadbamy o twój</h2>
        <h2 class="two-columns-images__title">Trening</h2>
        <p class="two-columns-images__desc">Plan stworzone pod ciebie</p>
        <img class="two-columns-images__image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTXG18bA2_CTd3wTecXahNpezpGlTldQOh3kQ&s" alt="">
        {% include 'partials/basic-button.twig' with {text: 'Sprawdź', link: item.link} %}
    </div>
    <div class="two-columns-images__col">
        <h2 class="two-columns-images__sub-title">Zadbamy o twoją</h2>
        <h2 class="two-columns-images__title">Dietę</h2>
        <p class="two-columns-images__desc">Dieta stworzona pod ciebie</p>
        <img class="two-columns-images__image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSvbUXEeWpojhZwG-UbMBtvDKXsjxGnzVfI4A&s" alt="">
        {% include 'partials/basic-button.twig' with {text: 'Sprawdź', link: item.link} %}
    </div>
</section>
