<section class="why-choose-me">
    <div class="why-choose-me__wrapper">
        <div class="why-choose-me__header">
            <h2 class="why-choose-me__title">Dlaczego wybierasz mnie?</h2>
            <p class="why-choose-me__desc">Moja wiedza, doświadczenie i podejście sprawiają że dostajesz inwidualne podejście doswojego celu. Dodatkowo masz szeroki wybór tego jak działamy:</p>
        </div>
        <div class="why-choose-me__list">
            <div class="why-choose-me__reason">
                <div class="why-choose-me__reason-content">
                    {% include 'icons/lesson.svg' %}
                    <div class="why-choose-me__reason-text">
                        <h3 class="why-choose-me__reason-title">Praca razem online</h3>
                        <p class="why-choose-me__reason-desc">Jeśli tak Ci wygodniej możemy pracować online</p>
                    </div>
                </div>
            </div>

            <div class="why-choose-me__reason">
                <div class="why-choose-me__reason-content">
                    {% include 'icons/region-pin.svg' %}
                    <div class="why-choose-me__reason-text">
                        <h3 class="why-choose-me__reason-title">Praca razem stacjonarnie</h3>
                        <p class="why-choose-me__reason-desc">Jeśli tak Ci wygodniej możemy pracować stacjonarnie</p>
                    </div>
                </div>
            </div>

            <div class="why-choose-me__reason">
                <div class="why-choose-me__reason-content">
                    {% include 'icons/list.svg' %}
                    <div class="why-choose-me__reason-text">
                        <h3 class="why-choose-me__reason-title">Plan trenigowy</h3>
                        <p class="why-choose-me__reason-desc">Plan dostosowany do ciebie i woich potrzeb</p>
                    </div>
                </div>
            </div>

            <div class="why-choose-me__reason">
                <div class="why-choose-me__reason-content">
                    {% include 'icons/plate-utensils.svg' %}
                    <div class="why-choose-me__reason-text">
                        <h3 class="why-choose-me__reason-title">Pomoc w diecie</h3>
                        <p class="why-choose-me__reason-desc">Pomoc w poprowadzeniu łatwiej diety</p>
                    </div>
                </div>
            </div>

            <div class="why-choose-me__reason">
                <div class="why-choose-me__reason-content">
                    {% include 'icons/coins.svg' %}
                    <div class="why-choose-me__reason-text">
                        <h3 class="why-choose-me__reason-title">Opłacalne</h3>
                        <p class="why-choose-me__reason-desc">Ceny nie z kosmosu i zawsze jaieś rabaty</p>
                    </div>
                </div>
            </div>

            <div class="why-choose-me__reason">
                <div class="why-choose-me__reason-content">
                    {% include 'icons/time-check.svg' %}
                    <div class="why-choose-me__reason-text">
                        <h3 class="why-choose-me__reason-title">Pomoc w utrzymaniu</h3>
                        <p class="why-choose-me__reason-desc">Pomoc w utrzymaniu dobrych nawyków na codzień</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
